<!doctype html>
<html lang="en">

<head>
	<title>Sidebar 05</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/navtheme.css">
	
</head>

<body>
	<div class="area">
		<div class="sidearea">
			<nav id="sidebar">
				<div class="p-4">
					<div class="logo">
						<h1>Scholarships<span>system</span></h1>
					</div>
					<ul class="list-unstyled components mb-5">
						<li>
							<a href="/users/homepage"><span class="mu fa fa-home mr-3"></span>หน้าหลัก</a>
						</li>
						<li>
							<a href="/users/scholarship"><span class="mu fa fa-book"></span>รายการทุนการศึกษา</a>
						</li>
						<li>
							<a href="/users/pinscholarship"><span class="mu fa fa-thumb-tack"></span>ทุนการศึกษาที่ปักหมุด</a>
						</li>
						<li>
							<a href="/users/filter"><span class="mu fa fa-filter"></span>การค้นหาแบบคัดกรอง</a>
						</li>
					</ul>
					<div class="Borlogout" >
						<a href="/users/logout" class="logout" style="color: #fff;"><span class="mu fa fa-sign-out"></span>ออกจากระบบ</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="dearea">
			<aside class="article">
		
			